use-node-version=20.10.0
node-version=20.10.0
engine-strict=true
@um:registry=https://git.unlock-music.dev/api/packages/um/npm/
@unlock-music:registry=https://git.unlock-music.dev/api/packages/um/npm/
